.submitcontainer {
  display: flex;
  flex-direction: row;
  width:100%
}

.inputs {
  padding: 10px;
  justify-items: center;
  margin: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:25px;
}

.datepickers {
  display: flex;
  flex-direction: column;
}

.buttons {
  height: auto;
  width:auto;
  margin: 10px;
  padding: 10px;
}

.filter {
  width: 100%;
}

.table {
  width: 100%;
}

.togglez {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 25px;
  align-items: center;
}

.buttons-padding {
  height: auto;
  margin: 10px;
  padding: 10px;
}

