
<div class="main-container">
  <div class="table">
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>




    <table mat-table
           [dataSource]="tableData"
           matSort
           class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="pangolin lineage">
        <th mat-header-cell
            *matHeaderCellDef>
          pangolin lineage
        </th>
        <td mat-cell *matCellDef="let element">{{element.lineage}}</td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          count
        </th>
        <td mat-cell *matCellDef="let element">{{element.count}}</td>
      </ng-container>
      <ng-container matColumnDef="present_PLZ">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          PLZs With Pangolin Lineage Present In Dataset
        </th>
        <td mat-cell *matCellDef="let element">{{element.present_PLZ}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="inputs">
    <mat-form-field>
      Minimum Percentage / Sample Count
      <input matInput color="primary" type="number" [(ngModel)]="minCount">
    </mat-form-field>

    <div class="datepickers">
      <mat-form-field>
        <input matInput [max]="maxDateInput" [min]="minDate" [matDatepicker]="pickerStartDatePang" [formControl]="dateStartFormControl" placeholder="Start Date" (dateChange)="updateMinDatePicker($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerStartDatePang"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDatePang></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [max]="maxDate" [min]="minDateInput" [matDatepicker]="pickerEndDatePang" [formControl]="dateEndFormControl" placeholder="End Date" (dateChange)="updateMaxDatePicker($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerEndDatePang"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDatePang></mat-datepicker>
      </mat-form-field>

      <button class="buttons" mat-flat-button color="warn" (click)="clearDates()">Clear Date Selection</button>
      <div *ngIf="moreThanTwoSelected" class="togglez">
        Pango Makeup

        <mat-slide-toggle [checked]="checked" class="buttons-padding" (change)="toggleSummaryType()"></mat-slide-toggle>

        Change Over Time
      </div>
      <button class="buttons" mat-raised-button color="primary" (click)="submitPieChart()">Generate Visual Summary</button>
    </div>

  </div>
</div>
